main{
    display: grid;
    place-items: center;
    height: calc(100vh - 6rem);
}

.edit-form {
    min-height: 50vh;
    min-width: 300px;
    background-color: hsl(40, 3%, 57%);
    padding: 3rem;
    border-radius: 0.5rem;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 100%;
}

.form-wrapper *{
    width: 100%;
}

input[type='file']{
    display: none;
}

label {
    color: black;
}

label[for='file']{
    color: white;
    padding: 0.5rem 0.2rem;
    width: 150px;
    background-color: hsl(168, 94%, 32%);
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='text']{
    height: 2rem;
    border: none;
    outline: none;
    font-size: 1.3rem;
}

