{% extends 'main.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}
<main>
    <h1> Home </h1>
    <div class="images">
        {% for image in images %}
        <div class="image-wrapper">
            <img class="picture" src="{{ image.image.url }}" alt="{{ image.description }}">
        </div> 
        <div class="modal" data-modal>
            <div class="image">
                <img class="picture" src="{{ image.image.url }}" alt="{{ image.description }}">
            </div>
            <div class="details">
                <div class="desc"> <i class='bx bxs-book-content'></i> {{ image.description }}</div>
                <div class="desc"> <i class='bx bxs-map'></i> {{ image.location }}</div>
                <div class="desc"> <i class='bx bxs-carousel'></i> {{ image.category }}</div>
                <div class="desc"> <i class='bx bxs-stopwatch'></i> {{ image.updated }}</div>
                <div class="desc"> <i class='bx bxs-calendar'></i> {{ image.created }}</div>
            </div>
        </div> 
        {% endfor %}
    </div>
</main>
{% endblock %}