{% extends 'main.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="images">
        {% for image in images %} 
        <div class="image-wrapper">
            {% if image.image.url is not None  %}
            <img class="picture" src="{{ image.image.url }}" alt="{{ image.description }}">
            {% endif %}
            <div class="edits">
                <!-- <a href="{% url 'update-image' image.id %}"><i class='bx bx-edit edit-tooltip'></i></a> -->
                <a href="{% url 'delete-image' image.id %}"><i class='bx bx-trash edit-tooltip'></i></a>
            </div>
        </div>
        <div class="modal" data-modal>
            <div class="image">
                {% if image.image.url is not None  %}
                <img class="modal-pic" src="{{ image.image.url }}" alt="{{ image.description }}">
                {% endif %}
            </div>
            <div class="details">
                <div class="details-items">
                    <div class="desc">
                        <div class="title">description</div> 
                        <div class="tooltip-wrapper">
                            <i class='bx bxs-book-content tooltip'></i>{{ image.description }}
                        </div>
                    </div>
                    <div class="desc"> 
                        <div class="title">location</div>
                        <div class="tooltip-wrapper">
                            <i class='bx bxs-map tooltip'></i>{{ image.location }}
                        </div> 
                    </div>
                    <div class="desc">
                        <div class="title">category</div>
                        <div class="tooltip-wrapper">
                            <i class='bx bxs-carousel tooltip'></i>{{ image.category }}
                        </div>
                    </div>
                    <div class="desc"> 
                        <div class="title">Last Updated</div>
                        <div class="tooltip-wrapper">
                            <i class='bx bxs-stopwatch tooltip'></i>{{ image.updated|timesince }} ago 
                        </div>
                    </div>
                    <div class="desc"> 
                        <div class="title">Created</div>
                        <div class="tooltip-wrapper">
                            <i class='bx bxs-calendar tooltip'></i>{{ image.created|timesince }} ago
                        </div>  
                    </div>
                </div>
                <div class="copy">
                    <span class="copy-text">Copy Image Link</span>
                    <button class="copy-btn">
                        <i class='bx bx-copy'></i>
                    </button>
                </div>
            </div>
        </div> 
        {% endfor %}
        <div class="overlay" id="overlay"></div>    
    </div>
</main>
{% endblock %}